
/node_modules/


.env
.env.*.local

/dist/
/build/

# Cachés de Vite
/.vite/

/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
.vscode/
.idea/
/*.suo
/*.ntvs*
*.sw?

# Archivos de sistema
Thumbs.db
